:root {
    --background: #f2f2ff;
    --background2: #f9f9ff;
    --color: #1b1336;
    --toggle-back: #c5cbff;
    --code: #dfe0ee;
}

a {
    color: var(--color3);
}

header {
    background-color: var(--background2);
}
header .logo {
    background-image: url('../images/LogoBlack.svg');
}
